<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0A1A0D19-922A-4FBB-85A0-8D3EC2E77D7C</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>0B0BAF92-D9BD-4C7D-AF2F-1C9DB599A452</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>1627FB03-C236-4CB9-929E-96B4EFC0F95C</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{13, 358}, {863, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>20750F5F-22E2-4C3E-8056-88F23B01EDFD</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 711}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>333BC328-4643-467A-A79C-CBE494F8B78B</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>3BA8BA27-FCF5-406A-9CA9-B0918733D623</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 19}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>3CC87FA5-E806-4438-832C-9E9C83A70B3E</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>45F7AD08-028E-408A-BDF6-C13B818301AE</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>509AF809-E648-460C-B048-C4DF7F5313B6</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 746}, {863, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>5ADE58EE-0DD3-4395-8939-D703DAD22005</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>8AE996E4-C7B3-4083-81EC-F57C83C11F27</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>955A935F-33CD-411D-AD6B-AAFC6D2196DF</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 310}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>9C2AE034-1A94-4269-B77D-D0AFC10FB4B9</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 2}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>A06EB370-D30E-4C99-9B82-8FF01F244578</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 202}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Bottombar Visible</key>
	<false/>
	<key>CE650E61-B79A-4808-A025-4708A2F19ACD</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>EF196DED-573F-4247-87C4-00C32740DE8B</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 184}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Expanded Ideaspaces For Section 112D48F7-D05C-4C8C-AA76-DC4E8DEF3602</key>
	<array>
		<string>112D48F7-D05C-4C8C-AA76-DC4E8DEF3602</string>
		<string>84B6D9A1-9F48-4AF9-95C2-6D13989E4CC1</string>
		<string>FD2BC035-9E64-4E37-AA07-A637A7A9CF5A</string>
		<string>EF196DED-573F-4247-87C4-00C32740DE8B</string>
		<string>F6391505-F572-42BD-A5BA-237D271A81D9</string>
	</array>
	<key>Expanded Sections</key>
	<array>
		<string>00000000-0000-0000-0000-000000000000</string>
	</array>
	<key>F6391505-F572-42BD-A5BA-237D271A81D9</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 5}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>F65ACB1C-81C1-46A1-9836-00BB0CD7B1E9</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{2, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>F6854AC2-2BA0-421B-BC39-C4D53ABDE5FF</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>F730F0D0-50FD-45F6-917E-0EE67C4386A8</key>
	<dict>
		<key>Active Layer</key>
		<string>Default</string>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1184, 684}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Last Viewed Ideaspaces For Section 112D48F7-D05C-4C8C-AA76-DC4E8DEF3602</key>
	<array>
		<string>5ADE58EE-0DD3-4395-8939-D703DAD22005</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>112D48F7-D05C-4C8C-AA76-DC4E8DEF3602</string>
	</array>
	<key>Normal Window Layout</key>
	<string>{{0, 0}, {1366, 768}}</string>
	<key>Organizer Visible</key>
	<true/>
	<key>Organizer Width</key>
	<integer>181</integer>
	<key>Primary Asset UUID Last Viewed</key>
	<string>5ADE58EE-0DD3-4395-8939-D703DAD22005</string>
	<key>Scroll Position For Section 112D48F7-D05C-4C8C-AA76-DC4E8DEF3602</key>
	<string>{0, 0}</string>
	<key>Secondary View Vertical</key>
	<true/>
	<key>Secondary View Visible</key>
	<false/>
	<key>Sections Visible</key>
	<false/>
	<key>Toolbar Visible</key>
	<true/>
</dict>
</plist>
